<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/header.css">
    <link rel="stylesheet" type="text/css" href="/add.css">
</head>
<%- include('header.ejs') %>
<body>
<%
if (shmot){
%>
<div class="shmot-form">
    <form enctype="multipart/form-data" action="/shmot/del" method="post">
        <div class="shmot-form__title">
            Delete your shmot here
        </div>
        <div class="shmot-form__input">
            <label>
                <input name="name" placeholder="Name" value="<%=shmot.name%>" disabled>
            </label>
        </div>
        <div class="shmot-form__input">
            <label>
                <input name="description" placeholder="Description" value="<%=shmot.description%>" disabled>
            </label>
        </div>
        <div class="shmot-form__input">
            <label>
                <select name="type" disabled>
                    <option value="other" <% if (shmot.type === "other") { %> selected <% } %> >Other</option>
                    <option value="hoodie" <% if (shmot.type === "hoodie") { %> selected <% } %> >Hoodie</option>
                    <option value="socks" <% if (shmot.type === "socks") { %> selected <% } %> >Socks</option>
                </select>
            </label>
        </div>
        <div class="shmot-form__input">
            <label>
                <input type="number" name="price" placeholder="Price" value="<%=shmot.price%>" disabled>
            </label>
        </div>
<!--        <div class="shmot-form__input">-->
<!--            <input type="file" name="photo" placeholder="Add image">-->
<!--        </div>-->
        <button type="submit" class="shmot-form__button">Delete</button>
    </form>
</div>
<%
}
else {
%>
    <div class="nothing">
        <a href="/shmot/view">Please, choose any SHMOT</a>
    </div>
<%
}
%>


</body>
</html>