<header>
    <div class="container">
        <div class="header-title">
             <a type="button" onclick=<%= `document.location.href="view"` %> >SHMOT - the best clothes store</a>
        </div>
        <div class="header-menu">
            <button type="button" onclick=<%= `document.location.href="add"` %> >Add</button>
            <button type="button" onclick=<%= `document.location.href="edit"` %> >Edit</button>
            <button type="button" onclick=<%= `document.location.href="del"` %> >Delete</button>
        </div>
    </div>
</header>
