@font-face {
    font-family: Reey-Regular;
    src: url('./fonts/Reey-Regular.otf');
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url('./fonts/Open Sans ExtraBold.ttf');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('./fonts/Montserrat-Regular.ttf');
}

body {
    padding-bottom: 15vh;
}

.content {
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;

}

.clothes-list {
    font-family: Montserrat-Regular, serif;
}

.clothes-list > li {
    font-size: 1.5rem;
    margin-top: 15px;
    list-style-type: decimal;
    cursor: pointer;
    border-radius: 5px;
}

.clothes-list > li:hover {
    background-color: orange;
}

.selected {
    background-color: #2b2b2b;
    color: white;
}

.clothes-view {
    min-width: 40%;
    border: 2px solid #2b2b2b;
    box-shadow: -20px 20px 10px #2b2b2b ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clothes-view__title {
    font-family: OpenSans-ExtraBold, serif;
    font-size: 2rem;
}

.clothes-view__description {
    font-family: Montserrat-Regular, serif;
    font-size: 1.5rem;
}

.clothes-view__type {
    font-family: Reey-Regular, serif;
    font-size: 1.5rem;
    margin-top: 20px;
}

.clothes-view__photo {
    margin: 0;
    max-width: 60%;
}

.clothes-view__photo img {
    display: block;
    width: 100%;
}

.clothes-view__price {
    font-family: OpenSans-ExtraBold, serif;
    font-size: 1.4rem;
}
